.center{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h1{
	color: white;
	font-size: 5rem;
}

.goback::before{

	  	content: '\25c4';
	  	color: white;
		font-size: 24px;
}

.goback:hover:before{
	color: #59545e;
}
 

@media screen and (max-width: 64em) {
	
	.goback::before{

	  	display: none;
	}	
}